@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0a0a0a;
  color: #f0f0f0;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }
}

@keyframes moveGrid {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(24px);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}